<ul class="books">
{% for book in books %}
  {% set editionClass = (book.isMultiEdition) ? 'multi_edition' : 'single_edition' %}
  <li class="book {{ editionClass }}">
    <div>
      {% set language = book.getDefaultLanguage %}
      {% set version = language.getDefaultVersion %}
      {% set url = "/" ~ book.slug ~ "/" ~ language.code ~ "/" ~ version.path %}
      <a href="{{ url }}">
        <span class="name">
          {{ book.name }}
        </span>
        <span class="edition">
          ({{ language.nativeName() }} &ndash; {{ version.name }})
        </span>
      </a>
      {% set countOtherEditions = book.countEditions - 1 %}
      {% if countOtherEditions > 0 %}
        <span class="or">&ndash;&nbsp;or&nbsp;&ndash;</span>
        <span class="other-editions">
          <a href="/{{ book.slug }}">(See all {{ book.countEditions }} editions)</a>
        </span>
      {% endif %}
    </div>
    <div class="description">
      {{ book.description }}
    </div>

  </li>
{% endfor %}
</ul>
