<ul class="books">
{% for book in books %}
  <li class="book">
    <div>
      {% set language = book.getDefaultLanguage() %}
      {% set version = language.getDefaultVersion() %}
      {% set url = "/" ~ book.slug ~ "/" ~ language.code ~ "/" ~ version.name %}
      <a href="{{ url }}">
        <span class="name">
          {{ book.name }}
        </span>
        <span class="edition">
          ({{ language.nativeName() }} / {{ version.name }})
        </span>
        <span class="other-editions">
          <a href="/{{ book.slug }}">(Other editions)</a>
        </span>
      </a>
    </div>
    <div class="description">
      {{ book.description }}
    </div>
  </li>
{% endfor %}
</ul>
