{% extends "::base.html.twig" %}

{% block title %}CiviCRM Documentation{% endblock %}

{% block body %}
  
<a href="https://civicrm.org">CiviCRM home</a>

<h1>CiviCRM Documentation</h1>

<p>CiviCRM offers community contributed documentation in the form of 
  <em>books</em>, listed below. We encourage everyone to 
  <a href="https://docs.civicrm.org/dev/en/latest/documentation/">
    help contribute to documentation</a>.</p>

<p><em>Note: some documentation has not yet been moved into book format and 
    can still be found on our 
    <a href="https://wiki.civicrm.org/confluence/display/CRMDOC/CiviCRM+Documentation">wiki</a>
    while it awaits migration.</em></p>

<h2>Books</h2>

<ul class="books">
{% for url, book in books %}
  <li class="book">
    <span class="name"><a href="/{{url}}">{{ book.name }}</a></span> &ndash;
    <span class="description">{{ book.description }}</span>
    <ul>
    {% for lang, language in book.langs if language.stable is defined %}

      <li class="lang {{lang}}">
        {{ attribute(locales, lang) }}:
        <a href="/{{url}}/{{lang}}/stable">Current edition</a>.
        Other editions:
        {% if language.history is defined %}
          {% for version in language.history %}
              <a href="/{{url}}/{{lang}}/{{version}}">{{version}}</a>,
          {% endfor %}
        {% endif %}
        <a href="/{{url}}/{{lang}}/latest">latest</a>.
      </li>

    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

{% endblock %}
