<p><strong>Note from <a href="{{ app.request.getUriForPath('/') }}">{{ app.request.getUriForPath('/') }}</a>:<br />Published '{{ branch }}' branch of '
        {{ book }}' in '{{ lang }}'.</strong>
</p>
<p>Please check the publish log for any errors:</p>
<ul>
    {% for message in messages %}
        <li>
            <strong>{{ message.label }}:</strong>
            {{ message.content|raw }}
        </li>
    {% endfor %}
</ul>
